In [212]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [172]:
df = pd.read_csv('data.csv')

In [173]:
df

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,...,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,1.00,50.608,54.2000,38.000
1,1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,...,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,1.00,28.800,22.0000,35.000
2,2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,...,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,1.00,0.000,63.7216,54.400
3,3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,...,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,1.00,122.608,52.0000,42.000
4,4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,...,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,2.00,0.000,19.0000,20.000
5,5,244.0,-145.0,-11.0,9.0,3.0,0.0,NaN,32.0,34.0,...,"45.539131, -122.651648",shot - 17,NaN,20000012,1610612747,9.00,3.00,0.000,NaN,34.000
6,6,251.0,0.0,0.0,8.0,NaN,0.0,2000-01,52.0,20.0,...,"45.539131, -122.651648",NaN,shot - 4,20000012,1610612747,8.00,3.00,0.000,112.2000,89.400
7,7,254.0,1.0,28.0,8.0,3.0,0.0,2000-01,5.0,22.0,...,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,68.64,3.00,0.000,5.0000,22.000
8,8,265.0,-65.0,NaN,6.0,3.0,0.0,2000-01,12.0,32.0,...,"45.539131, -122.651648",shot - 36,NaN,20000012,1610612747,6.00,3.00,0.000,12.0000,32.000
9,9,294.0,-33.0,NaN,3.0,3.0,0.0,2000-01,36.0,32.0,...,"45.539131, -122.651648",shot - 44,NaN,20000012,1610612747,3.00,3.00,0.000,52.2000,NaN
10,10,309.0,-94.0,238.0,1.0,3.0,0.0,2000-01,56.0,45.0,...,"45.539131, -122.651648",shot - 7,NaN,20000012,1610612747,NaN,3.00,80.928,56.0000,45.000
11,11,4.0,121.0,127.0,11.0,1.0,0.0,2000-01,0.0,37.0,...,"42.982923, -71.446094",NaN,shot - 3,20000019,1610612747,11.00,1.00,106.608,64.7856,16.400
12,12,27.0,-67.0,NaN,7.0,1.0,0.0,NaN,NaN,NaN,...,"42.982923, -71.446094",shot - 44,NaN,20000019,1610612747,7.00,77.36,0.000,9.0000,32.000
13,13,66.0,-94.0,4.0,NaN,1.0,0.0,2000-01,44.0,29.0,...,"42.982923, -71.446094",NaN,shot - 3,20000019,1610612747,2.00,68.36,0.000,44.0000,29.000
14,14,80.0,-23.0,47.0,1.0,1.0,0.0,2000-01,16.0,25.0,...,"42.982923, -71.446094",shot - 12,NaN,20000019,1610612747,1.00,1.00,0.000,16.0000,25.000
15,15,86.0,NaN,192.0,0.0,1.0,0.0,2000-01,NaN,40.0,...,"42.982923, -71.446094",NaN,shot - 3,20000019,1610612747,94.64,70.36,0.000,70.7856,40.000
16,16,100.0,0.0,0.0,0.0,1.0,0.0,2000-01,1.0,20.0,...,"42.982923, -71.446094",NaN,shot - 4,20000019,1610612747,0.00,1.00,0.000,1.0000,20.000
17,17,138.0,-117.0,226.0,8.0,2.0,0.0,2000-01,50.0,45.0,...,"42.982923, -71.446094",shot - 6,NaN,20000019,1610612747,38.64,2.00,0.000,50.0000,NaN
18,18,244.0,NaN,97.0,11.0,3.0,0.0,2000-01,29.0,36.0,...,"42.982923, -71.446094",NaN,shot - 3,20000019,1610612747,11.00,3.00,0.000,29.0000,106.400
19,19,249.0,0.0,0.0,10.0,3.0,0.0,NaN,46.0,20.0,...,"42.982923, -71.446094",shot - 4,NaN,20000019,1610612747,10.00,70.36,0.000,46.0000,20.000
20,20,255.0,3.0,144.0,10.0,3.0,0.0,2000-01,8.0,34.0,...,"42.982923, -71.446094",shot - 20,NaN,20000019,1610612747,10.00,3.00,0.000,8.0000,34.000
21,21,265.0,134.0,127.0,9.0,3.0,0.0,NaN,4.0,38.0,...,"42.982923, -71.446094",shot - 24,NaN,20000019,1610612747,9.00,43.36,0.000,4.0000,38.000
22,22,274.0,-16.0,110.0,7.0,3.0,0.0,2000-01,57.0,31.0,...,"42.982923, -71.446094",shot - 44,NaN,20000019,1610612747,7.00,3.00,0.000,57.0000,31.000
23,23,299.0,-109.0,150.0,5.0,3.0,0.0,NaN,47.0,38.0,...,"42.982923, -71.446094",NaN,shot - 3,20000019,1610612747,5.00,3.00,0.000,47.0000,38.000
24,24,307.0,-46.0,63.0,5.0,3.0,0.0,2000-01,11.0,27.0,...,"42.982923, -71.446094",NaN,shot - 3,20000019,1610612747,5.00,3.00,0.000,25.2000,27.000
25,25,332.0,0.0,0.0,2.0,3.0,0.0,2000-01,36.0,20.0,...,"42.982923, -71.446094",NaN,shot - 4,20000019,1610612747,93.64,3.00,0.000,36.0000,20.000
26,26,345.0,NaN,196.0,2.0,3.0,0.0,2000-01,4.0,40.0,...,"42.982923, -71.446094",shot - 30,NaN,20000019,1610612747,2.00,83.36,0.000,63.7856,40.000
27,27,369.0,-183.0,186.0,0.0,3.0,0.0,2000-01,30.0,46.0,...,"42.982923, -71.446094",shot - 54,NaN,20000019,1610612747,0.00,3.00,0.000,30.0000,53.400
28,28,400.0,85.0,173.0,8.0,4.0,0.0,2000-01,NaN,39.0,...,"42.982923, -71.446094",NaN,shot - 3,20000019,1610612747,8.00,4.00,61.928,19.0000,18.400
29,29,429.0,3.0,87.0,6.0,4.0,0.0,2000-01,22.0,28.0,...,"42.982923, -71.446094",shot - 42,NaN,20000019,1610612747,73.64,4.00,0.000,22.0000,28.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30667,30667,368.0,40.0,250.0,9.0,4.0,1.0,1999-00,33.0,45.0,...,"40.361408, -86.186052",NaN,shot - 3,49900087,1610612747,9.00,4.00,1.000,33.0000,NaN
30668,30668,386.0,-23.0,222.0,7.0,4.0,1.0,1999-00,27.0,42.0,...,NaN,NaN,shot - 3,49900087,1610612747,7.00,68.36,54.608,27.0000,42.000
30669,30669,425.0,171.0,53.0,3.0,4.0,1.0,NaN,48.0,37.0,...,"40.361408, -86.186052",NaN,shot - 3,49900087,1610612747,3.00,4.00,1.000,112.7856,37.000
30670,30670,NaN,-74.0,16.0,9.0,1.0,1.0,1999-00,34.0,27.0,...,"42.982923, -71.446094",NaN,shot - 3,49900088,1610612747,38.64,1.00,1.000,34.0000,27.000
30671,30671,25.0,0.0,0.0,8.0,1.0,1.0,1999-00,51.0,20.0,...,"42.982923, -71.446094",NaN,shot - 4,49900088,1610612747,8.00,102.36,1.000,51.0000,20.000
30672,30672,29.0,89.0,55.0,8.0,1.0,1.0,1999-00,9.0,30.0,...,"42.982923, -71.446094",shot - 33,NaN,49900088,1610612747,109.64,29.36,1.000,9.0000,30.000
30673,30673,NaN,117.0,0.0,NaN,1.0,1.0,NaN,14.0,31.0,...,"42.982923, -71.446094",NaN,shot - 3,49900088,1610612747,7.00,63.36,1.000,14.0000,31.000
30674,30674,81.0,117.0,216.0,2.0,1.0,1.0,1999-00,34.0,44.0,...,"42.982923, -71.446094",NaN,shot - 3,49900088,1610612747,2.00,1.00,1.000,34.0000,44.000
30675,30675,84.0,-134.0,NaN,2.0,1.0,1.0,NaN,0.0,45.0,...,"42.982923, -71.446094",NaN,shot - 3,49900088,1610612747,2.00,1.00,34.928,0.0000,45.000
30676,30676,98.0,-141.0,0.0,0.0,1.0,1.0,1999-00,NaN,34.0,...,"42.982923, -71.446094",shot - 44,NaN,49900088,1610612747,0.00,1.00,1.000,37.0000,34.000
30677,30677,101.0,NaN,143.0,0.0,1.0,1.0,1999-00,1.0,38.0,...,"42.982923, -71.446094",NaN,shot - 3,49900088,1610612747,0.00,1.00,1.000,1.0000,38.000
30678,30678,181.0,14.0,16.0,3.0,2.0,NaN,1999-00,34.0,NaN,...,"42.982923, -71.446094",NaN,shot - 4,49900088,1610612747,3.00,29.36,1.000,34.0000,22.000
30679,30679,212.0,0.0,0.0,0.0,2.0,1.0,1999-00,41.0,20.0,...,"42.982923, -71.446094",shot - 39,NaN,49900088,1610612747,71.64,2.00,1.000,41.0000,20.000
30680,30680,213.0,0.0,0.0,0.0,2.0,1.0,NaN,40.0,20.0,...,"42.982923, -71.446094",shot - 49,NaN,49900088,1610612747,0.00,2.00,121.928,40.0000,20.000
30681,30681,218.0,-18.0,261.0,0.0,2.0,1.0,1999-00,2.0,46.0,...,"42.982923, -71.446094",shot - 17,NaN,49900088,1610612747,68.64,2.00,1.000,2.0000,46.000
30682,30682,226.0,NaN,48.0,11.0,3.0,1.0,1999-00,30.0,28.0,...,"42.982923, -71.446094",shot - 44,NaN,49900088,1610612747,11.00,41.36,87.608,30.0000,28.000
30683,30683,228.0,1.0,216.0,10.0,NaN,1.0,1999-00,51.0,41.0,...,"42.982923, -71.446094",shot - 38,NaN,49900088,1610612747,10.00,3.00,1.000,51.0000,41.000
30684,30684,231.0,-96.0,89.0,10.0,3.0,1.0,NaN,16.0,33.0,...,"42.982923, -71.446094",shot - 37,NaN,49900088,1610612747,50.64,3.00,1.000,16.0000,NaN
30685,30685,249.0,81.0,250.0,7.0,3.0,NaN,1999-00,31.0,46.0,...,"42.982923, -71.446094",NaN,shot - 3,49900088,1610612747,7.00,3.00,44.608,31.0000,46.000
30686,30686,268.0,16.0,93.0,5.0,3.0,1.0,NaN,37.0,29.0,...,"42.982923, -71.446094",shot - 44,NaN,49900088,1610612747,5.00,3.00,1.000,37.0000,78.400
30687,30687,284.0,40.0,100.0,3.0,3.0,1.0,1999-00,18.0,30.0,...,"42.982923, -71.446094",shot - 54,NaN,49900088,1610612747,3.00,3.00,1.000,18.0000,30.000
30688,30688,308.0,-126.0,61.0,1.0,3.0,1.0,1999-00,7.0,33.0,...,"42.982923, -71.446094",NaN,shot - 3,49900088,1610612747,37.64,NaN,1.000,7.0000,16.400
30689,30689,326.0,-12.0,679.0,0.0,3.0,1.0,1999-00,0.0,87.0,...,"42.982923, -71.446094",NaN,shot - 3,49900088,1610612747,NaN,31.60,1.000,0.0000,45.728
30690,30690,331.0,-113.0,100.0,11.0,4.0,1.0,1999-00,37.0,35.0,...,"42.982923, -71.446094",NaN,shot - 3,49900088,1610612747,11.00,23.36,1.000,37.0000,35.000
30691,30691,382.0,0.0,0.0,NaN,4.0,1.0,1999-00,4.0,20.0,...,"42.982923, -71.446094",shot - 4,NaN,49900088,1610612747,7.00,4.00,27.800,59.7856,20.000
30692,30692,397.0,1.0,48.0,6.0,4.0,1.0,1999-00,5.0,24.0,...,"42.982923, -71.446094",shot - 1,NaN,49900088,1610612747,17.20,4.00,1.000,5.0000,24.000
30693,30693,398.0,0.0,0.0,6.0,4.0,1.0,1999-00,5.0,20.0,...,"42.982923, -71.446094",shot - 49,NaN,49900088,1610612747,6.00,64.36,1.000,5.0000,20.000
30694,30694,426.0,-134.0,166.0,3.0,4.0,1.0,1999-00,28.0,41.0,...,NaN,NaN,shot - 3,49900088,1610612747,3.00,4.00,1.000,28.0000,41.000
30695,30695,448.0,31.0,267.0,2.0,4.0,1.0,1999-00,10.0,46.0,...,"42.982923, -71.446094",shot - 26,NaN,49900088,1610612747,2.00,112.36,1.000,10.0000,46.000
30696,30696,471.0,1.0,NaN,0.0,4.0,1.0,1999-00,39.0,27.0,...,"42.982923, -71.446094",shot - 45,NaN,49900088,1610612747,0.00,4.00,1.000,39.0000,27.000

### Combining values of type of shot and type of combined shots

In [174]:
df['type_of_shot'] = [ shot1 if not pd.isna(shot1) else shot2 for shot1, shot2 in zip(df['type_of_shot'], df['type_of_combined_shot']) ]

### No NaNs now

In [175]:
len([val for val in df['type_of_shot'] if pd.isna(val)])

0

In [176]:
del df['type_of_combined_shot']

### only 1 unique value, don't need this column

In [177]:
set(df['team_id'])

{1610612747}

In [178]:
del df['team_id']

In [179]:
set(df['team_name'])

{'Manchester United', nan}

In [180]:
del df['team_name']

In [181]:
pd.isna(df['home/away'][2])

True

In [182]:
home_lat_map = { home: lat for home, lat in zip(df['home/away'], df['lat/lng']) if not pd.isna(home) and not pd.isna(lat)}

In [183]:
match_lat_map = { match: lat for match, lat in zip(df['match_id'], df['lat/lng']) if not pd.isna(match) and not pd.isna(lat)}

In [184]:
df['lat/lng'] = df.apply(
    lambda row: 
        home_lat_map[row['home/away']] 
        if not pd.isna(row['home/away']) 
        else (
            match_lat_map[row['match_id']] 
            if not pd.isna(row['match_id']) 
            else row['lat/lng']
        ),
    axis=1
)

In [185]:
df[df['match_id'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, match_event_id, location_x, location_y, remaining_min, power_of_shot, knockout_match, game_season, remaining_sec, distance_of_shot, is_goal, area_of_shot, shot_basics, range_of_shot, date_of_game, home/away, shot_id_number, lat/lng, type_of_shot, match_id, remaining_min.1, power_of_shot.1, knockout_match.1, remaining_sec.1, distance_of_shot.1]
Index: []

[0 rows x 25 columns]

### match_id, lat/lng, home/away are same and redundant

In [186]:
del df['lat/lng']
del df['home/away']
del df['date_of_game']

In [187]:
df.columns

Index(['Unnamed: 0', 'match_event_id', 'location_x', 'location_y',
       'remaining_min', 'power_of_shot', 'knockout_match', 'game_season',
       'remaining_sec', 'distance_of_shot', 'is_goal', 'area_of_shot',
       'shot_basics', 'range_of_shot', 'shot_id_number', 'type_of_shot',
       'match_id', 'remaining_min.1', 'power_of_shot.1', 'knockout_match.1',
       'remaining_sec.1', 'distance_of_shot.1'],
      dtype='object')

In [188]:
res = df[~df['power_of_shot.1'].isnull()][['power_of_shot', 'power_of_shot.1', 'distance_of_shot', 'distance_of_shot.1', 'type_of_shot', 'shot_basics', 'range_of_shot']]

In [189]:
shot_range_vals = list(set(df['range_of_shot']))

In [190]:
shot_range_vals.pop(0)

nan

In [191]:
shot_range_vals

['Back Court Shot', '8-16 ft.', 'Less Than 8 ft.', '24+ ft.', '16-24 ft.']

In [192]:
range_map = {}

In [193]:
filtered_df = df[df['distance_of_shot'] == df['distance_of_shot.1']]

In [194]:
for val in shot_range_vals:
    r1 = filtered_df[filtered_df['range_of_shot'] == val]['distance_of_shot.1']
    r2 = filtered_df[filtered_df['range_of_shot'] == val]['distance_of_shot']
    range_map[val] = range(int(min(r1.min(), r2.min())), int(max(r1.max(), r2.max())))

In [195]:
range_map

{'Back Court Shot': range(60, 99),
 '8-16 ft.': range(28, 36),
 'Less Than 8 ft.': range(20, 28),
 '24+ ft.': range(42, 63),
 '16-24 ft.': range(36, 43)}

In [196]:
def get_range(distance): 
    for label, r in range_map.items():
        if distance in r:
            return label

In [197]:
def update_range(row):
    if not pd.isna(row['range_of_shot']): return row['range_of_shot']
    if row['distance_of_shot'] != row['distance_of_shot.1']:
        if get_range(row['distance_of_shot']):
            return get_range(row['distance_of_shot'])
        else:
            return get_range(row['distance_of_shot.1'])
    else:
        return get_range(row['distance_of_shot'])

In [198]:
df['range_of_shot'] = df.apply(update_range, axis=1)

In [199]:
del df['distance_of_shot']
del df['distance_of_shot.1']

In [200]:
df.columns

Index(['Unnamed: 0', 'match_event_id', 'location_x', 'location_y',
       'remaining_min', 'power_of_shot', 'knockout_match', 'game_season',
       'remaining_sec', 'is_goal', 'area_of_shot', 'shot_basics',
       'range_of_shot', 'shot_id_number', 'type_of_shot', 'match_id',
       'remaining_min.1', 'power_of_shot.1', 'knockout_match.1',
       'remaining_sec.1'],
      dtype='object')

In [201]:
set(df[~df['power_of_shot'].isnull()]['power_of_shot'])

{1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0}

In [202]:
df[df['power_of_shot'].isnull() & df['power_of_shot.1'] > 7][['power_of_shot', 'power_of_shot.1', 'type_of_shot', 'area_of_shot']]

Empty DataFrame
Columns: [power_of_shot, power_of_shot.1, type_of_shot, area_of_shot]
Index: []

In [203]:
df['power_of_shot'] = df.apply(
    lambda row:
        row['power_of_shot']
        if not pd.isna(row['power_of_shot'])
        else (
            row['power_of_shot.1']
            if not pd.isna(row['power_of_shot.1'])
            else row['power_of_shot']
        ),
    axis = 1
)

In [204]:
df.columns

Index(['Unnamed: 0', 'match_event_id', 'location_x', 'location_y',
       'remaining_min', 'power_of_shot', 'knockout_match', 'game_season',
       'remaining_sec', 'is_goal', 'area_of_shot', 'shot_basics',
       'range_of_shot', 'shot_id_number', 'type_of_shot', 'match_id',
       'remaining_min.1', 'power_of_shot.1', 'knockout_match.1',
       'remaining_sec.1'],
      dtype='object')

In [206]:
del df['shot_basics']

In [238]:
area_map = {}
filtered_df = df[~df['area_of_shot'].isnull()]
for val in set(filtered_df['area_of_shot']):
    row = filtered_df[filtered_df['area_of_shot'] == val]
    area_map[val] = \
        range(int(row['location_x'].min()), int(row['location_x'].max())), \
        range(int(row['location_y'].min()), int(row['location_y'].max()))

In [239]:
area_map

{'Left Side Center(LC)': (range(-246, -51), range(88, 396)),
 'Center(C)': (range(-98, 128), range(-35, 396)),
 'Mid Ground(MG)': (range(-223, 217), range(398, 791)),
 'Right Side Center(RC)': (range(51, 241), range(89, 394)),
 'Left Side(L)': (range(-250, -42), range(-44, 137)),
 'Right Side(R)': (range(41, 248), range(-44, 138))}

In [246]:
def update_area(row):
    if not pd.isna(row['area_of_shot']): return row['area_of_shot']
    for key, value in area_map.items():
        if not pd.isna(row['location_x']) and not pd.isna(row['location_y']):
            if row['location_x'] in value[0] and row['location_y'] in value[1]:
                return key
        elif not pd.isna(row['location_x']):
            if row['location_x'] in value[0]:
                return key
        elif not pd.isna(row['location_y']):
            if row['location_y'] in value[1]:
                return key
    return row['area_of_shot']

In [247]:
df['area_of_shot'] = df.apply(update_area, axis=1)

In [256]:
del df['location_x']
del df['location_y']

In [260]:
df.columns

Index(['Unnamed: 0', 'match_event_id', 'remaining_min', 'power_of_shot',
       'knockout_match', 'game_season', 'remaining_sec', 'is_goal',
       'area_of_shot', 'range_of_shot', 'shot_id_number', 'type_of_shot',
       'match_id', 'remaining_min.1', 'power_of_shot.1', 'knockout_match.1',
       'remaining_sec.1'],
      dtype='object')

In [282]:
df['remaining_sec'].max()

59.0

In [283]:
df['remaining_min'] = df.apply(
    lambda row:
        row['remaining_min']
        if not pd.isna(row['remaining_min'])
        else (
            row['remaining_min.1']
            if row['remaining_min.1'] <= 11
            else row['remaining_min']
        ),
    axis = 1
)

In [287]:
df['remaining_sec'] = df.apply(
    lambda row:
        row['remaining_sec']
        if not pd.isna(row['remaining_sec'])
        else (
            row['remaining_sec.1']
            if row['remaining_sec.1'] <= 59
            else row['remaining_sec']
        ),
    axis = 1
)

In [289]:
df['remaining_min'] = df.apply(
    lambda row:
        row['remaining_min']
        if not pd.isna(row['remaining_min'])
        else row['remaining_min.1'] % 11,
    axis = 1
)

In [290]:
df['remaining_sec'] = df.apply(
    lambda row:
        row['remaining_sec']
        if not pd.isna(row['remaining_sec'])
        else row['remaining_sec.1'] % 60,
    axis = 1
)

In [293]:
df['remaining_min'] = df.apply(
    lambda row:
        row['remaining_min']
        if not pd.isna(row['remaining_min'])
        else 0,
    axis = 1
)

In [294]:
df['remaining_sec'] = df.apply(
    lambda row:
        row['remaining_sec']
        if not pd.isna(row['remaining_sec'])
        else 0,
    axis = 1
)

In [297]:
del df['remaining_min.1']
del df['remaining_sec.1']

In [299]:
del df['Unnamed: 0']

In [302]:
df.columns

Index(['match_event_id', 'remaining_min', 'power_of_shot', 'knockout_match',
       'game_season', 'remaining_sec', 'is_goal', 'area_of_shot',
       'range_of_shot', 'shot_id_number', 'type_of_shot', 'match_id',
       'power_of_shot.1', 'knockout_match.1'],
      dtype='object')

In [304]:
df[df['power_of_shot'].isnull() & ~df['power_of_shot.1'].isnull()][['power_of_shot', 'power_of_shot.1']]

Empty DataFrame
Columns: [power_of_shot, power_of_shot.1]
Index: []

In [305]:
del df['power_of_shot.1']

In [307]:
df.columns

Index(['match_event_id', 'remaining_min', 'power_of_shot', 'knockout_match',
       'game_season', 'remaining_sec', 'is_goal', 'area_of_shot',
       'range_of_shot', 'shot_id_number', 'type_of_shot', 'match_id',
       'knockout_match.1'],
      dtype='object')

In [308]:
df['power_of_shot'] = df.apply(
    lambda row:
        row['power_of_shot']
        if not pd.isna(row['power_of_shot'])
        else 0,
    axis = 1
)

In [311]:
res = df[~df['game_season'].isnull()][['game_season', 'match_id']]

In [313]:
match_id_season_map = dict(res.groupby('game_season')['match_id'].apply(list))

In [324]:
def updateGameSeason(row):
    if not pd.isna(row['game_season']): return row['game_season']
    for key, value in match_id_season_map.items():
        if row['match_id'] in value:
            return key
    return np.random.choice(list(match_id_season_map.keys()))

In [325]:
df['game_season'] = df.apply(updateGameSeason, axis = 1)

In [326]:
df[df['game_season'].isnull()]

Empty DataFrame
Columns: [match_event_id, remaining_min, power_of_shot, knockout_match, game_season, remaining_sec, is_goal, area_of_shot, range_of_shot, shot_id_number, type_of_shot, match_id, knockout_match.1]
Index: []

In [327]:
df.columns

Index(['match_event_id', 'remaining_min', 'power_of_shot', 'knockout_match',
       'game_season', 'remaining_sec', 'is_goal', 'area_of_shot',
       'range_of_shot', 'shot_id_number', 'type_of_shot', 'match_id',
       'knockout_match.1'],
      dtype='object')

In [360]:
def update_knockout_match(row):
    if not pd.isna(row['knockout_match']): return row['knockout_match']
    if not pd.isna(row['knockout_match.1']) and int(row['knockout_match.1']) in [0, 1]:
        return row['knockout_match.1']
    return row['knockout_match']

In [361]:
df['knockout_match'] = df.apply(update_knockout_match, axis = 1)

In [368]:
cnt_0 = 0
cnt_1 = 0
for i, row in df[~df['knockout_match'].isnull()].iterrows():
    if row['knockout_match'] == 0:
        cnt_0 += 1
    elif row['knockout_match'] == 0:
        cnt_1 += 1

In [371]:
np.random.choice([0, 1], p = [cnt_0 / (cnt_0+cnt_1), cnt_1 / (cnt_0+cnt_1)])

0

In [375]:
def fill_random(row):
    if not pd.isna(row['knockout_match']): return row['knockout_match']
    
    return np.random.choice([0, 1], p = [cnt_0 / (cnt_0+cnt_1), cnt_1 / (cnt_0+cnt_1)])

In [376]:
df['knockout_match'] = df.apply(fill_random, axis = 1)

In [377]:
df[df['knockout_match'].isnull()][['knockout_match', 'knockout_match.1']]

Empty DataFrame
Columns: [knockout_match, knockout_match.1]
Index: []

In [378]:
df.columns

Index(['match_event_id', 'remaining_min', 'power_of_shot', 'knockout_match',
       'game_season', 'remaining_sec', 'is_goal', 'area_of_shot',
       'range_of_shot', 'shot_id_number', 'type_of_shot', 'match_id',
       'knockout_match.1'],
      dtype='object')

In [379]:
del df['knockout_match.1']

In [380]:
df.head()

,match_event_id,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,is_goal,area_of_shot,range_of_shot,shot_id_number,type_of_shot,match_id
0,10.0,10.00,1.0,0.0,2000-01,27.0,NaN,Right Side(R),16-24 ft.,1.0,shot - 30,20000012
1,12.0,10.00,1.0,0.0,2000-01,22.0,0.0,Left Side(L),8-16 ft.,2.0,shot - 45,20000012
2,35.0,7.00,1.0,0.0,2000-01,45.0,1.0,Left Side Center(LC),16-24 ft.,3.0,shot - 25,20000012
3,43.0,6.00,1.0,0.0,2000-01,52.0,0.0,Right Side Center(RC),16-24 ft.,4.0,shot - 3,20000012
4,155.0,9.64,2.0,0.0,2000-01,19.0,1.0,Center(C),Less Than 8 ft.,5.0,shot - 1,20000012

In [381]:
game_season_map = {}
for i, val in enumerate(set(df['game_season'])):
    game_season_map[val] = i

In [383]:
area_shot_map = {}
for i, val in enumerate(set(df['area_of_shot'])):
    area_shot_map[val] = i

In [384]:
range_shot_map = {}
for i, val in enumerate(set(df['range_of_shot'])):
    range_shot_map[val] = i

In [385]:
type_shot_map = {}
for i, val in enumerate(set(df['type_of_shot'])):
    type_shot_map[val] = i

In [386]:
def map_vals(col, d):
    def func(row):
        return d[row[col]]
    return func

In [387]:
df_back = df

In [388]:
for col, d in [
    ('game_season', game_season_map), 
    ('area_of_shot', area_shot_map), 
    ('range_of_shot', range_shot_map), 
    ('type_of_shot', type_shot_map)
]:
    df[col] = df.apply(map_vals(col, d), axis = 1)

In [390]:
df.columns

Index(['match_event_id', 'remaining_min', 'power_of_shot', 'knockout_match',
       'game_season', 'remaining_sec', 'is_goal', 'area_of_shot',
       'range_of_shot', 'shot_id_number', 'type_of_shot', 'match_id'],
      dtype='object')

,match_event_id,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,is_goal,area_of_shot,range_of_shot,shot_id_number,type_of_shot,match_id
0,10.0,10.00,1.0,0.0,19,27.0000,NaN,6,5,1.0,32,20000012
1,12.0,10.00,1.0,0.0,19,22.0000,0.0,5,2,2.0,52,20000012
2,35.0,7.00,1.0,0.0,19,45.0000,1.0,1,5,3.0,44,20000012
3,43.0,6.00,1.0,0.0,19,52.0000,0.0,4,5,4.0,26,20000012
4,155.0,9.64,2.0,0.0,19,19.0000,1.0,2,3,5.0,4,20000012
5,244.0,9.00,3.0,0.0,19,32.0000,0.0,5,2,6.0,18,20000012
6,251.0,8.00,3.0,0.0,19,52.0000,1.0,2,3,7.0,16,20000012
7,254.0,8.00,3.0,0.0,19,5.0000,NaN,2,3,8.0,26,20000012
8,265.0,6.00,3.0,0.0,19,12.0000,1.0,5,2,9.0,56,20000012
9,294.0,3.00,3.0,0.0,19,36.0000,0.0,2,2,10.0,0,20000012
11,4.0,11.00,1.0,0.0,19,0.0000,1.0,4,5,12.0,26,20000019
12,27.0,7.00,1.0,0.0,19,9.0000,1.0,5,2,13.0,0,20000019
13,66.0,2.00,1.0,0.0,19,44.0000,0.0,5,2,14.0,26,20000019
14,80.0,1.00,1.0,0.0,19,16.0000,0.0,2,3,15.0,36,20000019
15,86.0,0.00,1.0,0.0,19,10.7856,0.0,2,5,16.0,26,20000019
17,138.0,8.00,2.0,0.0,19,50.0000,1.0,1,4,18.0,53,20000019
18,244.0,11.00,3.0,0.0,19,29.0000,0.0,1,5,19.0,26,20000019
19,249.0,10.00,3.0,0.0,19,46.0000,NaN,2,3,20.0,16,20000019
20,255.0,10.00,3.0,0.0,19,8.0000,0.0,2,2,21.0,27,20000019
21,265.0,9.00,3.0,0.0,19,4.0000,NaN,4,5,22.0,20,20000019
22,274.0,7.00,3.0,0.0,19,57.0000,1.0,2,2,23.0,0,20000019
23,299.0,5.00,3.0,0.0,19,47.0000,1.0,1,5,24.0,26,20000019
24,307.0,5.00,3.0,0.0,19,11.0000,1.0,2,3,25.0,26,20000019
25,332.0,2.00,3.0,0.0,19,36.0000,0.0,2,3,26.0,16,20000019
26,345.0,2.00,3.0,0.0,19,4.0000,0.0,2,5,27.0,32,20000019
27,369.0,0.00,3.0,0.0,19,30.0000,0.0,1,4,28.0,11,20000019
28,400.0,8.00,4.0,0.0,19,19.0000,0.0,4,5,29.0,26,20000019
29,429.0,6.00,4.0,0.0,19,22.0000,0.0,2,2,30.0,43,20000019
30,488.0,1.00,4.0,0.0,19,20.0000,1.0,6,2,31.0,0,20000019
31,499.0,0.00,4.0,0.0,19,30.0000,0.0,6,2,32.0,26,20000019
...,...,...,...,...,...,...,...,...,...,...,...,...
30661,245.0,9.00,3.0,1.0,16,58.0000,1.0,2,3,30662.0,4,49900087
30663,270.0,6.00,3.0,1.0,16,36.0000,0.0,6,2,30664.0,15,49900087
30664,278.0,6.00,3.0,1.0,16,1.0000,NaN,2,3,30665.0,26,49900087
30665,280.0,5.00,3.0,1.0,16,58.0000,0.0,2,3,30666.0,16,49900087
30666,295.0,4.00,3.0,1.0,16,4.0000,0.0,1,5,30667.0,26,49900087
30667,368.0,9.00,4.0,1.0,16,33.0000,0.0,2,4,30668.0,26,49900087
30668,386.0,7.00,4.0,1.0,16,27.0000,NaN,2,5,30669.0,26,49900087
30670,NaN,9.00,1.0,1.0,16,34.0000,0.0,2,3,30671.0,26,49900088
30673,NaN,7.00,1.0,1.0,16,14.0000,0.0,6,2,30674.0,26,49900088
30674,81.0,2.00,1.0,1.0,16,34.0000,1.0,4,4,30675.0,26,49900088
30675,84.0,2.00,1.0,1.0,16,0.0000,0.0,1,4,30676.0,26,49900088
30676,98.0,0.00,1.0,1.0,16,37.0000,1.0,5,2,30677.0,0,49900088
30677,101.0,0.00,1.0,1.0,16,1.0000,0.0,1,5,30678.0,26,49900088
30678,181.0,3.00,2.0,1.0,16,34.0000,0.0,2,3,30679.0,16,49900088
30680,213.0,0.00,2.0,1.0,16,40.0000,NaN,2,3,30681.0,37,49900088
30681,218.0,0.00,2.0,1.0,16,2.0000,NaN,2,4,30682.0,18,49900088
30682,226.0,11.00,3.0,1.0,16,30.0000,NaN,5,2,30683.0,0,49900088
30683,228.0,10.00,3.0,1.0,16,51.0000,0.0,2,5,30684.0,7,49900088
30684,231.0,10.00,3.0,1.0,16,16.0000,0.0,5,2,30685.0,30,49900088
30685,249.0,7.00,3.0,0.0,16,31.0000,0.0,2,4,30686.0,26,49900088
30686,268.0,5.00,3.0,1.0,16,37.0000,NaN,2,2,30687.0,0,49900088
30687,284.0,3.00,3.0,1.0,16,18.0000,NaN,2,2,30688.0,11,49900088
30688,308.0,1.00,3.0,1.0,16,7.0000,1.0,5,2,30689.0,26,49900088
30689,326.0,0.00,3.0,1.0,16,0.0000,0.0,3,1,30690.0,26,49900088
30690,331.0,11.00,4.0,1.0,16,37.0000,0.0,5,2,30691.0,26,49900088
30691,382.0,7.00,4.0,1.0,16,4.0000,0.0,2,3,30692.0,16,49900088
30693,398.0,6.00,4.0,1.0,16,5.0000,NaN,2,3,30694.0,37,49900088
30694,426.0,3.00,4.0,1.0,16,28.0000,1.0,1,5,30695.0,26,49900088
30695,448.0,2.00,4.0,1.0,16,10.0000,0.0,2,4,30696.0,13,49900088
30696,471.0,0.00,4.0,1.0,16,39.0000,0.0,2,3,30697.0,52,49900088

In [420]:
from sklearn.svm import SVR

In [421]:
model = SVR()

In [422]:
labels = list(df.columns)[1:]

In [423]:
labels.remove('is_goal')
labels.remove('shot_id_number')

In [424]:
X, Y = np.array(df[~df['is_goal'].isnull()][labels]), np.array(df[~df['is_goal'].isnull()]['is_goal'])

In [425]:
X[0]

array([1.0000000e+01, 1.0000000e+00, 0.0000000e+00, 1.9000000e+01,
       2.2000000e+01, 5.0000000e+00, 2.0000000e+00, 5.2000000e+01,
       2.0000012e+07])

In [426]:
model.fit(X, Y)

/Users/jatinkatyal/miniconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVR(C=1.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1,
    gamma='auto_deprecated', kernel='rbf', max_iter=-1, shrinking=True,
    tol=0.001, verbose=False)

In [427]:
ids, X_p = np.array(df[df['is_goal'].isnull() & ~df['shot_id_number'].isnull()]['shot_id_number']), np.array(df[df['is_goal'].isnull() & ~df['shot_id_number'].isnull()][labels])

In [428]:
predictions = model.predict(X_p)

In [431]:
import csv

In [432]:
csv.writer?

In [435]:
with open("output.csv", "w") as file:
    writer = csv.writer(file)
    headers = ['shot_id_number','is_goal']
    writer.writerow(headers)
    writer.writerows(zip(ids, predictions))