In [3]:
import pandas as pd

In [6]:
football_df = pd.read_csv("data.csv")

In [7]:
football_df.head()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,...,lat/lng,type_of_shot,type_of_combined_shot,match_id,team_id,remaining_min.1,power_of_shot.1,knockout_match.1,remaining_sec.1,distance_of_shot.1
0,0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,...,"45.539131, -122.651648",shot - 30,NaN,20000012,1610612747,10.00,1.0,50.608,54.2000,38.0
1,1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,...,"45.539131, -122.651648",shot - 45,NaN,20000012,1610612747,10.00,1.0,28.800,22.0000,35.0
2,2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,...,"45.539131, -122.651648",shot - 25,NaN,20000012,1610612747,92.64,1.0,0.000,63.7216,54.4
3,3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,...,"45.539131, -122.651648",NaN,shot - 3,20000012,1610612747,NaN,1.0,122.608,52.0000,42.0
4,4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,...,"45.539131, -122.651648",NaN,shot - 1,20000012,1610612747,42.64,2.0,0.000,19.0000,20.0

In [15]:
cols_to_drop = [
    "shot_id_number",
    "team_name",
    "home/away",
    "date_of_game",
    "team_id",
    "remaining_min.1",
    "power_of_shot.1",
    "knockout_match.1",
    "remaining_sec.1",
    "distance_of_shot.1",
]

In [16]:
football_df.drop(cols_to_drop,inplace=True,axis=1)

In [17]:
football_df.shape

(30697, 18)

In [18]:
football_df.head()

,Unnamed: 0,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,area_of_shot,shot_basics,range_of_shot,lat/lng,type_of_shot,type_of_combined_shot,match_id
0,0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,NaN,Right Side(R),Mid Range,16-24 ft.,"45.539131, -122.651648",shot - 30,NaN,20000012
1,1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,0.0,Left Side(L),Mid Range,8-16 ft.,"45.539131, -122.651648",shot - 45,NaN,20000012
2,2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,1.0,Left Side Center(LC),Mid Range,16-24 ft.,"45.539131, -122.651648",shot - 25,NaN,20000012
3,3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,0.0,Right Side Center(RC),Mid Range,16-24 ft.,"45.539131, -122.651648",NaN,shot - 3,20000012
4,4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,1.0,Center(C),Goal Area,Less Than 8 ft.,"45.539131, -122.651648",NaN,shot - 1,20000012

In [19]:
football_df.drop("Unnamed: 0", inplace=True, axis = 1)

In [20]:
football_df.head()

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,area_of_shot,shot_basics,range_of_shot,lat/lng,type_of_shot,type_of_combined_shot,match_id
0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,NaN,Right Side(R),Mid Range,16-24 ft.,"45.539131, -122.651648",shot - 30,NaN,20000012
1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,0.0,Left Side(L),Mid Range,8-16 ft.,"45.539131, -122.651648",shot - 45,NaN,20000012
2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,1.0,Left Side Center(LC),Mid Range,16-24 ft.,"45.539131, -122.651648",shot - 25,NaN,20000012
3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,0.0,Right Side Center(RC),Mid Range,16-24 ft.,"45.539131, -122.651648",NaN,shot - 3,20000012
4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,1.0,Center(C),Goal Area,Less Than 8 ft.,"45.539131, -122.651648",NaN,shot - 1,20000012

In [28]:
football_df.iloc[:,2]

0         72.0
1          0.0
2        135.0
3        175.0
4          0.0
5        -11.0
6          0.0
7         28.0
8          NaN
9          NaN
10       238.0
11       127.0
12         NaN
13         4.0
14        47.0
15       192.0
16         0.0
17       226.0
18        97.0
19         0.0
20       144.0
21       127.0
22       110.0
23       150.0
24        63.0
25         0.0
26       196.0
27       186.0
28       173.0
29        87.0
         ...
30667    250.0
30668    222.0
30669     53.0
30670     16.0
30671      0.0
30672     55.0
30673      0.0
30674    216.0
30675      NaN
30676      0.0
30677    143.0
30678     16.0
30679      0.0
30680      0.0
30681    261.0
30682     48.0
30683    216.0
30684     89.0
30685    250.0
30686     93.0
30687    100.0
30688     61.0
30689    679.0
30690    100.0
30691      0.0
30692     48.0
30693      0.0
30694    166.0
30695    267.0
30696      NaN
Name: location_y, Length: 30697, dtype: float64

In [29]:
from sklearn.preprocessing import Imputer
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis = 0)
imputer = imputer.fit(football_df.iloc[:, 1:3])
football_df.iloc[:, 1:3] = imputer.transform(football_df.iloc[:, 1:3])

D:\Softwares\Anaconda\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [38]:
football_df[["lat","lng"]] = football_df["lat/lng"].str.split(",",expand = True)

In [41]:
football_df.head()

,match_event_id,location_x,location_y,remaining_min,power_of_shot,knockout_match,game_season,remaining_sec,distance_of_shot,is_goal,area_of_shot,shot_basics,range_of_shot,type_of_shot,type_of_combined_shot,match_id,lat,lng
0,10.0,167.0,72.0,10.0,1.0,0.0,2000-01,27.0,38.0,NaN,Right Side(R),Mid Range,16-24 ft.,shot - 30,NaN,20000012,45.539131,-122.651648
1,12.0,-157.0,0.0,10.0,1.0,0.0,2000-01,22.0,35.0,0.0,Left Side(L),Mid Range,8-16 ft.,shot - 45,NaN,20000012,45.539131,-122.651648
2,35.0,-101.0,135.0,7.0,1.0,0.0,2000-01,45.0,36.0,1.0,Left Side Center(LC),Mid Range,16-24 ft.,shot - 25,NaN,20000012,45.539131,-122.651648
3,43.0,138.0,175.0,6.0,1.0,0.0,2000-01,52.0,42.0,0.0,Right Side Center(RC),Mid Range,16-24 ft.,NaN,shot - 3,20000012,45.539131,-122.651648
4,155.0,0.0,0.0,NaN,2.0,0.0,2000-01,19.0,20.0,1.0,Center(C),Goal Area,Less Than 8 ft.,NaN,shot - 1,20000012,45.539131,-122.651648

In [40]:
football_df.drop("lat/lng", inplace=True, axis = 1)

In [34]:
latlng = "lat/lng"

In [47]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder = LabelEncoder()
football_df.iloc[:, 10] = labelencoder.fit_transform(str(football_df.iloc[:, 10]))
onehotencoder = OneHotEncoder(categorical_features = [10])
football_df = onehotencoder.fit_transform(football_df)

ValueError: bad input shape ()